@define-color bar-background #1d2021;
@define-color module-background #fbf1c7;
@define-color workspace-active @module-background;
@define-color worksace-inactive #d6c4a1;
@define-color text-color #282828;
@define-color good #b8bb26;
@define-color mid #fabd2f;
@define-color bad #fb4934;

* {
        border: none;
        border-radius: 0;
        font-family: JetBrains Mono;
        font-size: 14px;
        text-shadow: none;
        box-shadow:    none;
        transition-duration: 0s;
        color: @text-color;
}

window {
        font-weight:    bold;
        background-color: @bar-background;
}

#window {
        background-color: @bar-background;
        color: @module-background;
        padding: 2px 10px;
        margin: 5px 0;
        border-radius: 2px;
}

#workspaces button {
        padding: 0 5px;
        background: @worksace-inactive;
}

#workspaces button.visible {
        background: @workspace-active;
}

#workspaces button.focused {
        background: @workspace-active;
}

#pulseaudio, #backlight, #bluetooth, #cpu, #network, #language, #clock, #battery {
        padding: 2px 5px;
        background-color: @module-background;
        color: @text-color;
        margin: 5px 0;
        border-radius: 2px;
}

#network{
}

#network.disconnected {
        color: @bad;
}

#battery {
        color: @text-color;
}

#battery.critical {
        background-color: @bad;
}

#battery.good {
        background-color: @good;
}

#battery.charging {
        background-color: @mid;
}

#tray {
        padding: 5px 10px;
}
